<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css"/>
    <title th:text="${reviewModel.name}">A Review</title>
</head>
<body>

<div class="container">
<header>
    <h1 th:text="${reviewModel.name}">A Review</h1>
    <nav>
        <p><a href="/reviews">Reviews</a></p>
        <button>CompTIA</button>
        <button>AWS</button>
    </nav>
</header>

<main>
    <section>
        <img class="sectionImg" th:src="${reviewModel.pic}" alt="Picture of computer screen"/>
    </section>
    <h2 th:text="${reviewModel.category}"></h2>
    <h4 th:text="${reviewModel.synopsis}"></h4>
    <h5 th:text="${reviewModel.date}">Completed</h5>

</main>

<footer>
    <small>&copy JTuck 2021</small>
</footer>
</div>
</body>
</html>